body {font-family:Arial, Helvetica, sans-serif; color:#666; height: 462px;padding:10px; overflow: hidden; margin:0 auto;background:#FFF;}
* {margin:0; padding:0; outline:none;text-decoration:none;list-style: none;border:0;}
form {float:left;width: 313px; padding:0; font-size:11px;}


input {width: 118px;height: 31px;border-top:1px solid #afafaf; border-left:1px solid #afafaf; margin-bottom: 10px; /*line-height: 31px;*/ padding-left:2px;}
input:focus, input.vld {color:#000;font-style:normal; border-color:#fff; }
input#imageField,input#radio1,input#radio2,input#radio3,input#radio4,input.checkbox {border:0;float:left;}
input#radio1,input#radio2,input#radio3,input#radio4 {width: 13px;height: 13px;margin-bottom: 0;float:left;margin-bottom: 3px;padding: 0;}

.logo {width: 288px;height: 72px;}

input#imageField {font-family: 'Roboto', sans-serif; margin:10px 0 5px -3px; background-color:#f50;color:#FFF;font-size: 15px; padding:0; width: 286px; height:45px; cursor: pointer;border-radius: 0; -webkit-appearance: none; float:left; }
input#imageField:hover {background-color:#ccc;}
.clear {clear:both; height:0; line-height:0; font-size:0; overflow:hidden}
.dati {float:left;width: 285px;}
.dati label {display:none;}
.domini {float: left;width: 70px;margin:2px 0 0 7px;}
.domini.shrt {width: 49px;margin-left: 0;}
.domini label {float:left;height: 13px;line-height:13px;padding:0 0 0 1px;margin-bottom: 3px;}

.display_no { display:none; }

.ricorda {float:left; width:280px; margin:5px 0 0 18px;}
.ricorda label {font-family: 'Roboto', sans-serif; float:left;padding-right: 7px;border-right: 1px solid #b1b1b1;margin-right: 7px;font-size: 11px;color:#333;}
input.checkbox {width: 13px;height: 13px;margin-right: 7px;}
.ricorda a {color:#333;font-size: 11px;}
.ricorda a:hover {color:#F60;}

.assistenza {text-align: center; float:none;}
ul {float:left;background:#ebeced;width: 228px;margin:18px 10px 0;height: 21px;font-size:11px;}
li {float:left;margin:3px 0 0 5px;padding:0 0 0 5px;border-left:1px solid #bcbcbc;height: 15px;line-height: 15px;}
li:first-child {border:none;margin-left:0;}
ul a {color:#333;}
ul a:hover {color:#F60;}

.n-utente {height:8px; width: 285px; /*margin-top:18px;*/ }
.n-utente span {display: block;margin: 0 auto;width: 115px;background-color:#FFF;font-size: 12px;padding:0 3px;}
.n-utente a {display:block;margin: 0 auto;width: 125px;background-color:#202020;color:#FFF;clear: both;margin:0 auto;text-align: center;font-size: 13px;text-align: center; /*padding:5px 0;*/ font-weight: 700;}
.n-utente a:hover {background-color:#ccc;}
.errore {float:left;width: 228px;color:#ff0000;font-weight: 700;font-size: 13px;padding:0 0 0 10px;margin:0 0 28px;}
.errore a {color:#333;text-decoration: underline;font-weight: 400;}
.errore a:hover {color:#F60;}

.inputon {color:#000;}
.loginoff {font-style:italic;color:#999; background-color:#f3f3f3; padding:0 0 0 5px; }
.pwdoff {color:#999;}
.hide {display:none;}
.login_wait {background: url("../images/waiter.gif") no-repeat scroll 0 0 transparent;height: 29px;width: 50px;}
#spacer{margin:25px auto 0;}

.input_n {font-family: 'Roboto', sans-serif; width: 275px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border-bottom:1px solid #fff; height:35px; color:#666; font-size:14px; margin:0 0 10px 15px; padding:0 0 0 10px; background-color:#f3f3f3; }
/* .input_n:focus {border-top:1px solid #afafaf; border-left:1px solid green} */
.pwd_n { font-family: 'Roboto', sans-serif; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:275px; height:35px; padding:0 0 0 10px; color:#999; background-color:#f3f3f3; float:left; margin:0 0 10px 15px; font-size:14px; }
.inp_n {font-family: 'Roboto', sans-serif; -webkit-border-radius:3px!important; -moz-border-radius:3px!important; border-radius:3px!important; font-size:15px!important; font-weight:700; margin:0 0 10px 0;  }
.error { border:1px solid #ff0000;}
.txt_error { color:#f00; font-weight:bold; font-size:12px; font-family:Verdana, Geneva, sans-serif; text-align:center; margin:0px 0px 1px 0px; height:30px;}

.marg_input {margin-top:44px!important;}

.color_ut { background-color:#202020!important; width:113px; height:28px; padding:10px 0 0 0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.color_ut a { background-color:#202020!important; width:113px; height:28px; padding:10px 0 0 0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.color_ut a:hover { background-color:#ccc!important;}

.filo { border:1px solid #ececec; width:285px; margin:25px auto 10px; auto}
.tit_assistenza {font-family: 'Roboto', sans-serif; margin:0 auto 5px auto!important; color:#000; text-transform:uppercase; font-size:12px;}
.tit_assistenza a {font-family: 'Roboto', sans-serif; color:#000; text-transform:uppercase; font-size:12px; text-decoration:none;}
.tit_assistenza a:hover { text-decoration:underline; color:#000!important; }

.txt_assistenza {font-family: 'Roboto', sans-serif;  margin:0 auto 15px auto; font-size:12px;}
.txt_assistenza a {font-family: 'Roboto', sans-serif; color:#999!important; font-size:12px; text-decoration:none;}
.txt_assistenza a:hover { /*color:#F60!important;*/ text-decoration:underline;}

.txt_assistenza_b {font-family: 'Roboto', sans-serif; margin:0 auto; font-size:12px;}
.txt_assistenza_b a {font-family: 'Roboto', sans-serif; color:#999!important; font-size:12px; text-decoration:none;}
.txt_assistenza_b a:hover { /*color:#F60!important;*/ text-decoration:underline;}
.none  {display:none;}

.box_top_grey { font-family: 'Roboto', sans-serif; font-weight:400; width:248px; background-color:#eee; margin-bottom:15px; font-size:13px; color:#191919; text-align:center; padding:0;}
.txt {font-family: 'Roboto', sans-serif; font-weight:400; font-size:13px; color:#191919; text-align:center; padding:15px 0 10px 0;}
.box_top_grey_link {font-family: 'Roboto', sans-serif; font-weight:700; color:#f60; font-weight:bold; font-size:11px; text-transform:uppercase; padding:0 0 12px 0;}
.busta_arancio {background:url("images/ico_busta_arancio.png"); background-repeat:no-repeat; width:24px; height:18px; font-family: 'Roboto', sans-serif; font-weight:700; margin:-1px 0 0 14px; float:left; padding:0;}
.box_top_grey_link a {font-family: 'Roboto', sans-serif; font-weight:700; color:#f60; font-weight:bold; font-size:11px; text-transform:uppercase; text-decoration:none;}
.box_top_grey_link a:hover {text-decoration:underline;}

.pwd_dimenticata { float:right; width:160px; font-size:12px; }
.pwd_dimenticata a {font-family: 'Roboto', sans-serif; float:right; text-align:right; font-size:12px; font-weight:400; color:#0099ff; text-decoration:none; }
.pwd_dimenticata a:hover { text-decoration:underline; color:#075eae!important; }

.serve_aiuto { float:right; width:160px; font-size:12px; margin:10px 0 0 0; }
.serve_aiuto a {font-family: 'Roboto', sans-serif; float:right; text-align:right; font-size:12px; font-weight:400; color:#0099ff; text-decoration:none; }
.serve_aiuto a:hover { text-decoration:underline; color:#075eae!important; }


.registrati { width:315px; background-color:#f5f5f5; height:30px; font-family: 'Roboto', sans-serif; font-weight:400; color:#666; font-size:12px; text-align:center; margin:15px 0 0 0; padding:15px 0 0 0; }
.registrati a {font-family: 'Roboto', sans-serif; font-size:12px; font-weight:400; color:#0099ff; text-decoration:none; }
.registrati a:hover { text-decoration:underline; color:#075eae!important; }

.recaptcha { background-image:url(/login/images/recaptcha.png); background-repeat:no-repeat; width:303px; height:76px; margin:10px auto; }
.logo { background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/350px-Orange_logo.svg.png); background-repeat:no-repeat; width:159px; height:34px; margin:34px auto 0; cursor:pointer; }

v